<div class="container">
    <table class="icon-grid-table">
        <tr *ngFor="let photo of photos" class="icon-grid-row">
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/{{photo.id}}"><img class="grid-image" src="https://cjremmett.com/images/photography/{{photo.id}}/{{photo.small_thumb}}" srcset="https://cjremmett.com/images/photography/{{photo.id}}/{{photo.small_thumb}} 1x, https://cjremmett.com/images/photography/{{photo.id}}/{{photo.big_thumb}} 2x"></a></td>
        </tr>
    </table>
</div>