.container {
    text-align:center; 
    color: white;
}

.banner-grid-table {
    margin: 0px auto;
}

.icon-grid-table {
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .icon-grid-row {
        height: 290px;
    }

    .banner-grid-table {
        margin-top: -35px;
        margin-bottom: -20px;
    }
}

@media only screen and (max-width: 1000px) {
    .banner-grid-table {
        table-layout:fixed;
    }

    .grid-image {
        
    }
}