<div class="container">
    <table class="banner-grid-table">
        <tr>
          <td><a href="https://fractalsoftworks.com/forum/index.php?topic=17094.0"><img class="grid-image" src="https://cjremmett.com/images/starsector.png"></a></td>
        </tr>
    </table>
    <table class="icon-grid-table">
        <tr class="icon-grid-row">
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/jellyfin"><img class="grid-image" src="https://cjremmett.com/images/jellyfin256.png" srcset="https://cjremmett.com/images/jellyfin256.png 1x, https://cjremmett.com/images/jellyfin512.png 2x"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/qbt"><img class="grid-image" src="https://cjremmett.com/images/qbt.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="ioffice"><img class="grid-image" src="https://cjremmett.com/images/hummingbird.png"></a></td>
        </tr>
        <tr class="icon-grid-row">
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/guacamole"><img class="grid-image" src="https://cjremmett.com/images/guacamole.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://homeassistant.cjremmett.com"><img class="grid-image" src="https://cjremmett.com/images/homeassistant.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/kavita"><img class="grid-image" src="https://cjremmett.com/images/kavita.png"></a></td>
        </tr>
      </table>
</div>