.container {
    text-align:center; 
    color: white;
}

.banner-grid-table {
    margin: 0px auto;
    margin-top: -25px;
    margin-bottom: -15px;
}

.icon-grid-table {
    margin: 0px auto;
}

.icon-grid-row {
    height: 290px
}