<div class="container">
    <table class="banner-grid-table">
        <tr>
          <td><a href="https://fractalsoftworks.com/forum/index.php?topic=17094.0"><img class="banner-image" src="https://cjremmett.com/images/starsector740.png" srcset="https://cjremmett.com/images/starsector740.png 1x, https://cjremmett.com/images/starsector1480.png 2x"></a></td>
        </tr>
    </table>
    <table class="icon-grid-table">
        <tr class="icon-grid-row">
            <td><a href="https://cjremmett.com/jellyfin"><img class="grid-image" src="https://cjremmett.com/images/jellyfin256.png" srcset="https://cjremmett.com/images/jellyfin256.png 1x, https://cjremmett.com/images/jellyfin512.png 2x"></a></td>
            <td><a href="https://cjremmett.com/qbt"><img class="grid-image" src="https://cjremmett.com/images/torrent256.png" srcset="https://cjremmett.com/images/torrent256.png 1x, https://cjremmett.com/images/torrent512.png 2x"></a></td>
            <td><a href="ioffice"><img class="grid-image" src="https://cjremmett.com/images/hummingbird256.png" srcset="https://cjremmett.com/images/hummingbird256.png 1x, https://cjremmett.com/images/hummingbird512.png 2x"></a></td>
        </tr>
        <tr class="icon-grid-row">
            <td><a href="https://cjremmett.com/guacamole"><img class="grid-image" src="https://cjremmett.com/images/guacamole256.png" srcset="https://cjremmett.com/images/guacamole256.png 1x, https://cjremmett.com/images/guacamole512.png 2x"></a></td>
            <td><a href="https://homeassistant.cjremmett.com"><img class="grid-image" src="https://cjremmett.com/images/hass256.png" srcset="https://cjremmett.com/images/hass256.png 1x, https://cjremmett.com/images/hass512.png 2x"></a></td>
            <td><a href="https://cjremmett.com/kavita"><img class="grid-image" src="https://cjremmett.com/images/kavita256.png" srcset="https://cjremmett.com/images/kavita256.png 1x, https://cjremmett.com/images/kavita512.png 2x"></a></td>
        </tr>
    </table>
    <table class="icon-grid-table">
      <tr class="icon-grid-row">
        <td><a href="photography"><img class="grid-image" src="https://cjremmett.com/images/photography256.png" srcset="https://cjremmett.com/images/photography256.png 1x, https://cjremmett.com/images/photography512.png 2x"></a></td>
        <td><a href="https://proxmox.cjremmett.com"><img class="grid-image" src="https://cjremmett.com/images/proxmox256.png" srcset="https://cjremmett.com/images/proxmox256.png 1x, https://cjremmett.com/images/proxmox512.png 2x"></a></td>
      </tr>
  </table>
</div>