.container {
    text-align:center; 
    color: white;
}

.banner-grid-table {
    margin: 0px auto;
    margin-top: -1em;
    table-layout:fixed;
}

.icon-grid-table {
    margin: 0px auto;
}

.grid-image {
    max-width: 100%;
    max-height: 100%;
    margin-left: 2px;
    margin-right: 2px;
}

.banner-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: -1em;
    margin-bottom: -1em;
}

@media only screen and (min-width: 835px) {
    
}

@media only screen and (max-width: 835px) {
    
}