<div class="container">
    <table class="icon-grid-table">
        <tr>
          <td><a href="https://fractalsoftworks.com/forum/index.php?topic=17094.0"><img src="https://cjremmett.com/images/starsector.png"></a></td>
        </tr>
    </table>
    <table class="icon-grid-table">
        <tr>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/jellyfin"><img src="https://cjremmett.com/images/jellyfin.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/qbt"><img src="https://cjremmett.com/images/qbt.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="ioffice"><img src="https://cjremmett.com/images/hummingbird.png"></a></td>
        </tr>
        <tr>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/guacamole"><img src="https://cjremmett.com/images/guacamole.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://homeassistant.cjremmett.com"><img src="https://cjremmett.com/images/homeassistant.png"></a></td>
            <td><a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/kavita"><img src="https://cjremmett.com/images/kavita.png"></a></td>
        </tr>
      </table>
    <div style="margin-bottom:15px">
        <a href="https://fractalsoftworks.com/forum/index.php?topic=17094.0"><img src="https://cjremmett.com/images/starsector.png"></a>
    </div>
    <div style="margin-bottom: 40px;">
        <a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/jellyfin"><img src="https://cjremmett.com/images/jellyfin.png"></a>
        <a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/qbt"><img src="https://cjremmett.com/images/qbt.png"></a>
        <a style="margin-left: 2px; margin-right: 2px;" href="ioffice"><img src="https://cjremmett.com/images/hummingbird.png"></a>
    </div>
    <div style="margin-bottom: 40px;">
        <a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/guacamole"><img src="https://cjremmett.com/images/guacamole.png"></a>
        <a style="margin-left: 2px; margin-right: 2px;" href="https://homeassistant.cjremmett.com"><img src="https://cjremmett.com/images/homeassistant.png"></a>
        <a style="margin-left: 2px; margin-right: 2px;" href="https://cjremmett.com/kavita"><img src="https://cjremmett.com/images/kavita.png"></a>
    </div>
</div>