<div class="container">
  <table class="tablePhotoUpload">
    <tr>
      <td>Create New Photo:</td>
      <td>Upload/Replace Image Files:</td>
    </tr>
    <tr>
      <td class="photoUploadTableColumn">
        <form>
          <label for="tags">Tags (comma separated): </label>
          <input type="text" id="tags" name="tags" [(ngModel)]="tags">
        </form>
        <button id="create_photo" type="button" (click)="createPhoto()">Create New Photo</button>
      </td>
      <td class="photoUploadTableColumn">world</td>
    </tr>
  </table>
</div>
