.container {
  text-align:center;
  color: white;
}

.tablePhotoUpload {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding-top: 1em;
  text-align: left;
}

.photoUploadTableColumn {
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  border: 1px solid;
}

.authorizationTokenField {
  padding-bottom: 2em;
}

.metadataReloadButtonRow {
  padding-top: 2em;
}