.container {
    text-align:center; 
    color: white;
}

.photoFull {
    max-width:96%;
    max-height:100%;
    vertical-align: middle;
}

.tablePhotoData {
    margin: 0px auto;
    padding-top: 2em;
    text-align: left;
}

.photoInfoTableDataColumOne {
    padding-left: 1em;
    padding-right: 1em;
    width: 15%;
}

.photoInfoTableDataColumnTwo {
  padding-left: 1em;
  padding-right: 1em;
  width: 55%;
}

.photoInfoTableDataColumnThree {
  padding-left: 1em;
  padding-right: 1em;
  width: 15%;
}

.photoInfoTableDataColumnFour {
  padding-left: 1em;
  padding-right: 1em;
  width: 15%;
}

.photoInfoUploadedDate {
  padding-right: 1em;
}
