<div class="container">
    <div *ngFor="let photo of photoData">
        <img class="photoFull" src="https://cjremmett.com/images/photography/{{photo.id}}/{{photo.id}}" >
        <table class="tablePhotoData">
            <tr>
                <td class="photoInfoTableDataColumnOne">Camera:</td>
                <td class="photoInfoTableDataColumnTwo">{{photo.camera}}</td>
                <td class="photoInfoTableDataColumnThree">F-stop:</td>
                <td class="photoInfoTableDataColumnFour">{{photo.fNumber}}</td>
            </tr>
            <tr>
                <td class="photoInfoTableDataColumnOne">Lens:</td>
                <td class="photoInfoTableDataColumnTwo">{{photo.lens}}</td>
                <td class="photoInfoTableDataColumnThree">Shutter Speed:</td>
                <td class="photoInfoTableDataColumnFour">{{photo.shutterSpeed}}</td>
            </tr>
            <tr>
                <td class="photoInfoTableDataColumnOne">Focal Length:</td>
                <td class="photoInfoTableDataColumnTwo">{{photo.focalLength}}</td>
                <td class="photoInfoTableDataColumnThree">ISO:</td>
                <td class="photoInfoTableDataColumnFour">{{photo.iso}}</td>
            </tr>
            <tr>
                <td class="photoInfoTableDataColumnOne" style="padding-top: 1em;">[Download RAW]</td>
                <td class="photoInfoTableDataColumnTwo"></td>
                <td class="photoInfoTableDataColumnThree"></td>
                <td class="photoInfoTableDataColumnFour"></td>
            </tr>
        </table>
    </div>
</div>
