<p style="text-align:center;">
    <img src="https://cjremmett.com/images/30hy-lobby.png">
</p>
<p style="text-align:center; color:white; font-size: 16px">
    Hello! Please enter your email address and secret key below to control which days you want to be automatically checked into your seat reservation.
</p>
<form id="user_options_form" ng-controller="formController" style="text-align:center; color:white; font-size: 16px">
    <label for="email_address">GAFG Email Address: </label>
    <input type="text" id="email_address" name="email_address" [(value)]="emailAddressInputText">
    <label style="margin-left:5px" for="secret_key">Secret Key: </label>
    <input type="text" id="secret_key" name="secret_key" [(value)]="secretKeyInputText">
    
    <label style="margin-left:5px" for="monday_checkin">Monday: </label>
    <select (ngModel)="mondayOption">
      <option value="True">Yes</option>
      <option value="False" selected>No</option>
    </select>

    <label style="margin-left:5px" for="tuesday_checkin">Tuesday: </label>
    <select (ngModel)="tuesdayOption">
      <option value="True" selected>Yes</option>
      <option value="False">No</option>
    </select>

    <label style="margin-left:5px" for="wednesday_checkin">Wednesday: </label>
    <select (ngModel)="wednesdayOption">
      <option value="True" selected>Yes</option>
      <option value="False">No</option>
    </select>

    <label style="margin-left:5px" for="thursday_checkin">Thursday: </label>
    <select (ngModel)="thursdayOption">
      <option value="True" selected>Yes</option>
      <option value="False">No</option>
    </select>

    <label style="margin-left:5px" for="friday_checkin">Friday: </label>
    <select (ngModel)="fridayOption">
      <option value="True">Yes</option>
      <option value="False" selected>No</option>
    </select>
  </form>
<p style="text-align:center; color:white; font-size: 16px">
    <button id="update_settings" type="button" (click)="updateSettings()">Update Settings</button>
</p>